* {
   margin: 0;
   padding: 0;
   background-color: burlywood;

   body {
      height: 300vh;
      text-align: center;
      margin-left: 20%;
   }

   div {
      width: 300px;
      height: 300px;
   }

   h1 {
      color: chocolate;
   }

   button {
      // margin: 10%;
      width: 70px;
      height: 40px;
      background-color: brown;
      color: wheat;
      margin-top: auto;
      margin-left: auto;
   }
   label {
      width: 70px;
      height: 30px;
      color: brown;
      margin-top: auto;
      margin-left: auto;
   }

   input {
      color: brown;
   }
   textarea {
      color: brown;
      width: 70px;
      height: 50px;
   }

   select {
      height: 40px;
      margin-top: auto;
      margin-left: auto;
   }
}
