/* Subway.css */

.subway-container {
   max-width: 400px;
   margin: 0 auto;
   padding: 20px;
   border: 1px solid #ddd;
   background: linear-gradient(to bottom, #ffc107, #ff9800);
   text-align: center;
   border-radius: 10px;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

h2 {
   color: #fff;
   background-color: #f57c00;
   padding: 10px;
   border-radius: 5px;
   margin: 0;
}

label {
   font-weight: bold;
   margin-right: 10px;
   color: #333;
}

select,
.calculate-button {
   padding: 10px 20px;
   font-size: 16px;
   cursor: pointer;
   border: none;
   border-radius: 5px;
   margin-top: 10px;
   transition: background-color 0.3s ease;
}

select {
   background-color: #fff;
   border: 2px solid #2196f3;
   margin-right: 10px;
}

.calculate-button {
   background: linear-gradient(to bottom, #ff6f00, #ff8f00);
   color: #fff;
   box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}

.calculate-button:hover {
   background: linear-gradient(to bottom, #ff8f00, #ffaf00);
}

p {
   font-weight: bold;
   margin-top: 10px;
   color: #333;
}

/* Add a bit of animation */
@keyframes fadeIn {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}

.subway-container {
   animation: fadeIn 0.5s ease;
}
